{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GrimlockFPV Blog</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static './bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static './css/blog.css' %}" rel="stylesheet">
</head>
<body id="page-top">

{% include "navbar.html" %}

{% block content %}
{% endblock content %}

{% include "footer.html" %}

{% include "script.html" %}

{% block extra_script %}
{% endblock extra_script %}

</body>

</html>
