{% load static %}

<!-- Footer-->
<footer class="py-3 bg-dark">

    <!-- Social icons -->
    <div class="container">
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
            <a href="https://www.facebook.com/mdbootstrap" target="_blank">
                <i class="fab fa-facebook-f mr-3"></i>
            </a>

            <a href="https://twitter.com/MDBootstrap" target="_blank">
                <i class="fab fa-twitter mr-3"></i>
            </a>

            <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">
                <i class="fab fa-youtube mr-3"></i>
            </a>

            <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">
                <i class="fab fa-google-plus-g mr-3"></i>
            </a>

            <a href="https://dribbble.com/mdbootstrap" target="_blank">
                <i class="fab fa-dribbble mr-3"></i>
            </a>

            <a href="https://pinterest.com/mdbootstrap" target="_blank">
                <i class="fab fa-pinterest mr-3"></i>
            </a>

            <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
                <i class="fab fa-github mr-3"></i>
            </a>

            <a href="http://codepen.io/mdbootstrap/" target="_blank">
                <i class="fab fa-codepen mr-3"></i>
            </a>
        </div>
    </div>
    <!-- Social icons -->
    <!--Copyright-->
    <div class="container px-5">
        <div class="p-4">
            <p class="m-2 text-center text-white">Copyright &copy;</p>
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <p class="m-0 text-center text-white">MtMte</p>
                <img src="{% static 'img/MtMte-logo.svg' %}" class="filter-white" alt="MtMte Logo" width="32"
                     height="32">
                <p class="m-0 text-center text-white">Productions 2021</p>
            </div>
        </div>
    </div>
    <!--/.Copyright-->

</footer>